---
---

@import "{{ site.theme }}";

header {
  background: #d18430 url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #d8a25e;
}

header h2 {
  color: #622300;
}

a {
  color: #d7862f;
}

a:hover {
  color: #dd974d;
}

#main-content h1:before {
  color: #622300;
  content: "/";
}

#main-content h2:before {
  content: "//";
  color: #622300;
}

#main-content h3:before {
  content: "///";
  color: #622300;
}

h4:before {
  content: "////";
  color: #622300;
}

h5:before {
  content: "/////";
  color: #622300;
}

h6:before {
  content: "//////";
  color: #622300;
}

header img.appIcon {
  width: auto;
  height: 62px;
  margin-right:15px;
}
a.fDroidButton {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
}
header img.fDroidButton {
  width: 202px;
  height: auto;
}
header a.fDroidButton {
  position: absolute;
  top: 92px;
  right: 0;
}
aside a.fDroidButton {
  display: block;
  padding-left: 0px;
  margin-bottom: 20px;
  font-size: 21px;
}

@media only screen and (max-width: 767px) {
  header img.appIcon {
    width: auto;
    height: 48px;
  }
  header a.fDroidButton {
    position: relative;
    top: 20px;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1;
    color: #2879d0;
    text-align: center;
    background-image: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  /*    background-color: #9ddcff; */
  header a.fDroidButton small {
    display: inline;
    font-size: 13px;
  }
  header img.fDroidButton {
    width: auto;
    height: 48px;
  }
  header a.button {
    color: #d7862f;
    background-color: #622300;
  }
}
