<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forrestguice.suntimeswidget" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:icon="@drawable/ic_suntimes"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity
            android:name=".SuntimesActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_suntimes">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="geo" />
            </intent-filter>

        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".SuntimesSettingsActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_suntimes">
        </activity>

        <!-- Widget List Activity -->
        <activity
            android:name=".SuntimesWidgetListActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_suntimes">
        </activity>

        <!-- Theme List Activity -->
        <activity
            android:name=".SuntimesWidgetThemeActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_suntimes">
        </activity>

        <!-- Theme Config Activity -->
        <activity
            android:name=".SuntimesWidgetThemeConfigActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_suntimes">
        </activity>

        <!-- Widget 0: Resizable (falls back to static 1x1 for api less than 16) -->
        <receiver android:name=".SuntimesWidget"
                  android:label="@string/app_name_widget0">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="SUNTIMES_WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/suntimeswidget_info_0" />
        </receiver>

        <!-- Widget 0 Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>


        <!-- Widget 1: Flippable widget (uses RemoteView collections [requires api 14+]) -->
        <receiver
            android:name=".SuntimesWidget1"
            android:enabled="@bool/api_post_14"
            android:label="@string/app_name_widget1">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="SUNTIMES_WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/suntimeswidget_info_1" />
        </receiver>

        <!-- Widget 1 Service: Flippable widget [requires api 14+] -->
        <service
            android:name=".SuntimesWidget1Service"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:enabled="@bool/api_post_14" />

        <!-- Widget 1 Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

    </application>

</manifest>
