<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.forrestguice.suntimeswidget"
          android:installLocation="internalOnly">   <!-- internalOnly; widgets may be unavailable when installed to external -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />     <!-- needed to get location using GPS -->

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />      <!-- needed to interact w/ AlarmClock -->

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />           <!-- needed to interact w/ Calendar -->

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />      <!-- needed to add new Calendars (via SyncAdapter) -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />  <!-- needed by "export" features (e.g. "export places" to file) -->

    <uses-sdk tools:overrideLibrary="com.flask.colorpicker" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_suntimes"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".SuntimesApplication">

        <!-- Main Activity -->
        <activity
            android:name=".SuntimesActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_suntimes">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="geo" />
            </intent-filter>

        </activity>

        <!-- Calculator Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.calculator.CalculatorProvider"
            android:authorities="suntimeswidget.calculator.provider"
            android:exported="true"
            android:syncable="false" />

        <!-- Calendar Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.calendar.SuntimesCalendarProvider"
            android:authorities="com.forrestguice.suntimeswidget.datasync.provider"
            android:exported="false"
            android:syncable="true"/>
        <service
            android:name="com.forrestguice.suntimeswidget.calendar.SuntimesSyncService"
            android:exported="true" android:permission="signature"
            android:process=":sync">  <!-- TODO: lint security warning.. exported="false" or define a permission? -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter" />
        </service>

        <!-- Calculator Plugins -->
        <!--EXAMPLE:
        <activity android:name=".calculator.ca.rmen.sunrisesunset.CalculatorPlugin">  ..where CalculatorPlugin is an empty activity

            <meta-data android:name="CalculatorName" android:value="ca.rmen.sunrisesunset" />
            <meta-data android:name="CalculatorDisplayString" android:value="@string/calculator_displayString_caarmensunrisesunset" />
            <meta-data android:name="CalculatorReference" android:value="com.forrestguice.suntimeswidget.calculator.ca.rmen.sunrisesunset.SunriseSunsetSuntimesCalculator" />
            <meta-data android:name="CalculatorFeatures" android:value="0,30" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="com.forrestguice.suntimeswidget.SUNTIMES_CALCULATOR" />
            </intent-filter>
        </activity>-->

        <!-- Settings Activity -->
        <activity
            android:name=".SuntimesSettingsActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_suntimes">
        </activity>

        <!-- Widget List Activity -->
        <activity
            android:name=".SuntimesWidgetListActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_suntimes">
        </activity>

        <!-- Theme List Activity -->
        <activity
            android:name=".themes.WidgetThemeListActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_suntimes">
        </activity>

        <!-- Theme Config Activity -->
        <activity
            android:name=".themes.WidgetThemeConfigActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_suntimes">
        </activity>

        <!-- FileProvider (export to file; places, themes) -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.forrestguice.suntimeswidget.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths"/>
        </provider>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 0_1x1: Resizable (falls back to static 1x1 for api less than 14) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget0"
                  android:label="@string/app_name_widget0">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun0_1x1" />
        </receiver>
        
        <activity
            android:name=".SuntimesConfigActivity0" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 0_2x1: Resizable (falls back to static 2x1 for api less than 14) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget0_2x1"
                  android:label="@string/app_name_widget0">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun0_2x1" />
        </receiver>

        <activity
            android:name=".SuntimesConfigActivity0_2x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 1: Flippable widget (uses RemoteView collections [requires api 14+]) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver
            android:name=".SuntimesWidget1"
            android:enabled="@bool/api_post_14"
            android:label="@string/app_name_widget1">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE1" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun1_1x1" />
        </receiver>

        <!-- Widget 1 Service: Flippable widget [requires api 14+] -->
        <service
            android:name=".SuntimesWidget1Service"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:enabled="@bool/api_post_14" />

        <!-- Widget 1 Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 2: Sun Position (1x1) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget2"
            android:label="@string/app_name_widget2"
            android:icon="@drawable/ic_noon_large">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE2" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun2_1x1" />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 2: Sun Position (3x1) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget2_3x1"
            android:label="@string/app_name_widget2"
            android:icon="@drawable/ic_noon_large">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE2" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun2_3x1" />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity2_3x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 2: Sun Position (3x2) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget2_3x2"
            android:label="@string/app_name_widget2"
            android:icon="@drawable/ic_action_map">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE2" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun2_3x2" />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity2_3x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Solstice / Equinox widget (resizable (falls back to static 1x1 for api less than 16)) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SolsticeWidget0"
                  android:label="@string/app_name_solsticewidget0"
                  android:icon="@mipmap/ic_suntimes2">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SOLSTICE_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_solstice0_1x1" />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".SolsticeWidget0ConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Moon0 1x1 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".MoonWidget0"
            android:label="@string/app_name_moonwidget0"
            android:icon="@mipmap/ic_moontimes">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.MOON_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_moon0_1x1" />
        </receiver>

        <activity
            android:name=".MoonWidget0ConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Moon0 2x1 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".MoonWidget0_2x1"
            android:label="@string/app_name_moonwidget0"
            android:icon="@mipmap/ic_moontimes">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.MOON_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_moon0_2x1" />
        </receiver>

        <activity
            android:name=".MoonWidget0ConfigActivity_2x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Moon0 3x1 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".MoonWidget0_3x1"
            android:label="@string/app_name_moonwidget0"
            android:icon="@mipmap/ic_moontimes">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.MOON_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_moon0_3x1" />
        </receiver>

        <activity
            android:name=".MoonWidget0ConfigActivity_3x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

    </application>

</manifest>
