<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.forrestguice.suntimeswidget"
          android:installLocation="internalOnly">   <!-- internalOnly; widgets may be unavailable when installed to external -->

    <uses-feature android:name="android.software.app_widgets" android:required="false"/>   <!-- provides app widgets -->

    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />     <!-- needed to get location using GPS -->

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />      <!-- needed to interact w/ AlarmClock -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />  <!-- needed by "export" features (e.g. "export places" to file) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />    <!-- needed by AlarmClock to play sounds from sdcard -->

    <uses-permission android:name="android.permission.VIBRATE" />                 <!-- needed by AlarmClock -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />  <!-- needed by AlarmClock to restore alarms after shutdown/reboot -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />      <!-- needed by AlarmClock -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />  <!-- needed by AlarmClock -->

    <uses-permission android:name="org.codeaurora.permission.POWER_OFF_ALARM" />  <!-- needed for hardware dependent 'power off' alarms -->

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />  <!-- needed for reliable delivery of alarms and notifications -->

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />  <!-- needed by Bedtime to trigger do-not-disturb -->

    <permission
        android:name="suntimes.permission.READ_CALCULATOR"
        android:protectionLevel="normal" />                       <!-- protects suntimeswidget.calculator.provider -->
    <uses-permission android:name="suntimes.permission.READ_CALCULATOR" />

    <uses-sdk tools:overrideLibrary="com.flask.colorpicker" />

    <uses-feature android:name="android.software.leanback" android:required="false" />    <!-- Leanback support (Android TV) -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:supportsRtl="true" tools:ignore="RtlEnabled"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".SuntimesApplication">

        <!-- Main Activity -->
        <activity
            android:name=".SuntimesLaunchActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity
            android:name=".SuntimesActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />-->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="geo" />
            </intent-filter>

        </activity>

        <!-- TV Activity -->
        <activity
            android:name=".SuntimesTvActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:banner="@mipmap/ic_banner"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Calculator Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.calculator.CalculatorProvider"
            android:authorities="suntimeswidget.calculator.provider"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true"
            android:syncable="false" />

        <!-- Theme Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.themes.SuntimesThemeProvider"
            android:authorities="suntimeswidget.theme.provider"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true"
            android:syncable="false" />

        <!-- Action Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.actions.SuntimesActionsProvider"
            android:authorities="suntimeswidget.action.provider"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true"
            android:syncable="false" />

        <!-- Alarm Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.alarmclock.SuntimesAlarmsProvider"
            android:authorities="suntimeswidget.alarm.provider"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true"
            android:syncable="false" />

        <!-- Event Provider -->
        <provider
            android:name="com.forrestguice.suntimeswidget.alarmclock.AlarmEventProvider"
            android:authorities="suntimeswidget.event.provider"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true"
            android:syncable="false" />

        <!-- Calculator Plugins -->
        <!--EXAMPLE:
        <activity android:name=".calculator.ca.rmen.sunrisesunset.CalculatorPlugin">  ..where CalculatorPlugin is an empty activity

            <meta-data android:name="CalculatorName" android:value="ca.rmen.sunrisesunset" />
            <meta-data android:name="CalculatorDisplayString" android:value="@string/calculator_displayString_caarmensunrisesunset" />
            <meta-data android:name="CalculatorReference" android:value="com.forrestguice.suntimeswidget.calculator.ca.rmen.sunrisesunset.SunriseSunsetSuntimesCalculator" />
            <meta-data android:name="CalculatorFeatures" android:value="0,30" />

            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="com.forrestguice.suntimeswidget.SUNTIMES_CALCULATOR" />
            </intent-filter>
        </activity>-->

        <!-- Welcome Activity -->
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher">
        </activity>

        <!-- About Activity -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:exported="true">

            <intent-filter>
                <action android:name="suntimes.action.SHOW_ABOUT" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
            <meta-data android:name="SuntimesMenuItemTitle" android:value="@string/app_name" />
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".SuntimesSettingsActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true">
        </activity>

        <!-- Places Activity -->
        <activity
            android:name=".getfix.PlacesActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true">
        </activity>

        <!-- Widget List Activity -->
        <activity
            android:name=".SuntimesWidgetListActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true">
        </activity>

        <!-- Event List Activity -->
        <activity
            android:name=".events.EventListActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true">
        </activity>

        <!-- Action List Activity -->
        <activity
            android:name=".actions.ActionListActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true">
        </activity>

        <!-- Theme List Activity -->
        <activity
            android:name=".themes.WidgetThemeListActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:permission="suntimes.permission.READ_CALCULATOR"
            android:exported="true">
        </activity>

        <!-- Theme Config Activity -->
        <activity
            android:name=".themes.WidgetThemeConfigActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher">
        </activity>

        <!-- Color Dialog Activity -->
        <activity
            android:name=".settings.colors.ColorActivity"
            android:label="@string/configAction_chooseColor"
            android:icon="@drawable/ic_palette"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="color" />
            </intent-filter>
        </activity>
        <activity
            android:name=".colors.ColorValuesSheetActivity"
            android:label="@string/configAction_colors"
            android:icon="@drawable/ic_palette"
            android:exported="false">
        </activity>

        <!-- FileProvider (export to file; places, themes) -->
        <provider
            android:name="com.forrestguice.support.content.FileProvider"
            android:authorities="com.forrestguice.suntimeswidget.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths"/>
        </provider>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Alarm Clock                                                                 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <activity
            android:name=".alarmclock.ui.AlarmClockActivity"
            android:label="@string/app_name_alarmclock"
            android:icon="@mipmap/ic_launcher_alarms"
            android:taskAffinity=".alarmclock.ui.AlarmClockActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.DISMISS_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SNOOZE_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--<activity
            android:name=".alarmclock.ui.AlarmClockLegacyActivity"
            android:label="Legacy Suntimes Alarms"
            android:icon="@mipmap/ic_launcher_alarms"
            android:taskAffinity=".alarmclock.ui.AlarmClockLegacyActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>-->

        <activity-alias
            android:name=".alarmclock.ui.AlarmClockActivityLauncher"
            android:targetActivity=".alarmclock.ui.AlarmClockActivity"
            android:enabled="@bool/def_app_alarms_showlauncher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts_alarms" />

        </activity-alias>

        <activity android:name=".alarmclock.ui.AlarmEditActivity"
            android:label="@string/app_name_alarmclock"
            android:icon="@mipmap/ic_launcher_alarms"
            android:taskAffinity=".alarmclock.ui.AlarmClockActivity" />

        <activity
            android:name=".alarmclock.ui.AlarmDismissActivity"
            android:label="@string/app_name_alarmclock"
            android:icon="@mipmap/ic_launcher_alarms"
            android:configChanges="orientation"
            android:launchMode="singleTop" android:excludeFromRecents="true"
            android:taskAffinity=".alarmclock.ui.AlarmDismissActivity"
            android:exported="true">
        </activity>

        <activity android:name=".alarmclock.bedtime.BedtimeActivity"
            android:label="@string/configLabel_bedtime"
            android:icon="@mipmap/ic_launcher_alarms"
            android:taskAffinity=".alarmclock.ui.bedtime.BedtimeActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <!--<meta-data android:name="android.service.zen.automatic.ruleType" android:value="Bedtime (Suntimes)" />
            <intent-filter>
                <action android:name="android.app.action.AUTOMATIC_ZEN_RULE"/>
            </intent-filter>-->
        </activity>

        <service
            android:name=".alarmclock.bedtime.BedtimeConditionService"
            android:enabled="@bool/api_post_24"
            android:directBootAware="true"
            android:label="@string/configLabel_bedtime"
            android:permission="android.permission.BIND_CONDITION_PROVIDER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.ConditionProviderService" />
            </intent-filter>
            <meta-data android:name="android.service.zen.automatic.ruleType" android:value="Bedtime (Suntimes)" />
            <meta-data android:name="android.service.zen.automatic.ruleInstanceLimit" android:value="1" />
            <meta-data android:name="android.service.zen.automatic.configurationActivity"
                android:value="com.forrestguice.suntimeswidget/com.forrestguice.suntimeswidget.alarmclock.ui.bedtime.BedtimeActivity" />
        </service>

        <service android:name=".alarmclock.AlarmJobService"
            android:enabled="@bool/api_post_24"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".alarmclock.AlarmNotifications$NotificationService"
            android:directBootAware="true" />
        <receiver android:name=".alarmclock.AlarmNotifications"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <!--<action android:name="android.intent.action.TIME_SET" />-->
            </intent-filter>
            <intent-filter>
                <action android:name="suntimeswidget.alarm.show" />
                <action android:name="suntimeswidget.alarm.silent" />
                <action android:name="suntimeswidget.alarm.dismiss" />
                <action android:name="suntimeswidget.alarm.snooze" />
                <action android:name="suntimeswidget.alarm.schedule" />
                <action android:name="suntimeswidget.alarm.disable" />
                <action android:name="suntimeswidget.alarm.timeout" />
                <data android:scheme="content" />
            </intent-filter>
        </receiver>
        <receiver android:name=".alarmclock.bedtime.BedtimeBroadcastReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:permission="suntimes.permission.READ_CALCULATOR">
            <intent-filter>
                <action android:name="suntimeswidget.alarm.start_bedtime" />
                <action android:name="suntimeswidget.alarm.pause_bedtime" />
                <action android:name="suntimeswidget.alarm.resume_bedtime" />
                <action android:name="suntimeswidget.alarm.dismiss_bedtime" />
            </intent-filter>
        </receiver>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Quick Settings Tiles (api 24+)                                              -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <activity android:name=".tiles.TileLockScreenActivity" android:theme="@style/LockScreenActivityStyle"
            android:enabled="@bool/api_post_24" />

        <service
            android:name=".tiles.BedtimeTileService"
            android:label="@string/configLabel_bedtime"
            android:icon="@drawable/ic_action_bedtime"
            android:enabled="@bool/api_post_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".tiles.AlarmTileService"
            android:label="@string/app_name_alarmtile"
            android:icon="@drawable/ic_action_alarms"
            android:enabled="@bool/api_post_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <activity android:name=".tiles.AlarmTileConfigActivity"
            android:enabled="@bool/api_post_24" />

        <service
            android:name=".tiles.ClockTileService"
            android:label="@string/app_name_clocktile"
            android:icon="@drawable/ic_action_time"
            android:enabled="@bool/api_post_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <activity android:name=".tiles.ClockTileConfigActivity"
            android:enabled="@bool/api_post_24" />

        <service
            android:name=".tiles.NextEventTileService"
            android:label="@string/app_name_eventtile"
            android:icon="@drawable/ic_action_timereset"
            android:enabled="@bool/api_post_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <activity android:name=".tiles.NextEventTileConfigActivity"
            android:enabled="@bool/api_post_24" />

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 0_1x1: Resizable (falls back to static 1x1 for api less than 14) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget0"
                  android:label="@string/app_name_widget0"
                  android:icon="@mipmap/ic_launcher">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun0_1x1" />
        </receiver>
        
        <activity
            android:name=".SuntimesConfigActivity0" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 0_2x1: Resizable (falls back to static 2x1 for api less than 14) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget0_2x1"
                  android:label="@string/app_name_widget0"
                  android:icon="@mipmap/ic_launcher">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun0_2x1" />
        </receiver>

        <activity
            android:name=".SuntimesConfigActivity0_2x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 0_3x1: Resizable (falls back to static 3x1 for api less than 14) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget0_3x1"
            android:label="@string/app_name_widget0"
            android:icon="@mipmap/ic_launcher">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun0_3x1" />
        </receiver>

        <activity
            android:name=".SuntimesConfigActivity0_3x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 1: Flippable widget (uses RemoteView collections [requires api 14+]) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver
            android:name=".SuntimesWidget1"
            android:enabled="@bool/api_post_14"
            android:label="@string/app_name_widget1"
            android:icon="@mipmap/ic_launcher">   <!-- TODO: icon -->

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE1" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun1_1x1" />
        </receiver>

        <!-- Widget 1 Service: Flippable widget [requires api 14+] -->
        <service
            android:name=".SuntimesWidget1Service"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:enabled="@bool/api_post_14" />

        <!-- Widget 1 Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 2: Sun Position (1x1) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget2"
            android:label="@string/app_name_widget2"
            android:icon="@drawable/ic_noon_large">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE2" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun2_1x1" />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 2: Sun Position (3x1) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget2_3x1"
            android:label="@string/app_name_widget2"
            android:icon="@drawable/ic_noon_large">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE2" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun2_3x1" />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity2_3x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 2: Sun Position (3x2) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget2_3x2"
            android:label="@string/app_name_widget2"
            android:icon="@drawable/ic_action_map">    <!-- TODO: theme neutral icon -->

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE2" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun2_3x2" />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity2_3x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget 2: Sun Position (3x3) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SuntimesWidget2_3x3"
            android:label="@string/app_name_widget2"
            android:icon="@drawable/ic_action_map">    <!-- TODO: theme neutral icon -->

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_WIDGET_UPDATE2" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun2_3x3" />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".SuntimesConfigActivity2_3x3" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Solstice / Equinox widget (resizable (falls back to static 1x1 for api less than 16)) -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".SolsticeWidget0"
                  android:label="@string/app_name_solsticewidget0"
                  android:icon="@drawable/ic_launcher_foreground">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.SOLSTICE_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_solstice0_1x1" />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".SolsticeWidget0ConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Moon0 1x1 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".MoonWidget0"
            android:label="@string/app_name_moonwidget0"
            android:icon="@drawable/ic_moon">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.MOON_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_moon0_1x1" />
        </receiver>

        <activity
            android:name=".MoonWidget0ConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Moon0 2x1 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".MoonWidget0_2x1"
            android:label="@string/app_name_moonwidget0"
            android:icon="@drawable/ic_moon">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.MOON_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_moon0_2x1" />
        </receiver>

        <activity
            android:name=".MoonWidget0ConfigActivity_2x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Moon0 3x1 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".MoonWidget0_3x1"
            android:label="@string/app_name_moonwidget0"
            android:icon="@drawable/ic_moon">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.MOON_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_moon0_3x1" />
        </receiver>

        <activity
            android:name=".MoonWidget0ConfigActivity_3x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Moon0 3x2 -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!--<receiver android:name=".MoonWidget0_3x2"
            android:label="@string/app_name_moonwidget0"
            android:icon="@drawable/ic_moon">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.MOON_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_moon0_3x2" />
        </receiver>-->

        <!--<activity
            android:name=".MoonWidget0ConfigActivity_3x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>-->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Alarms (1x1)                                                         -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".widgets.AlarmWidget0"
            android:label="@string/app_name_alarmwidget0"
            android:icon="@mipmap/ic_launcher_alarms">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.ALARM_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
                <action android:name="suntimeswidget.alarm.ui.update" />
            </intent-filter>

            <intent-filter>
                <action android:name="suntimeswidget.alarm.ui.update" />
                <data android:scheme="content" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_alarms0_1x1" />
        </receiver>

        <activity
            android:name=".widgets.AlarmWidget0ConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Alarms (2x2)                                                        -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".widgets.AlarmWidget0_2x2"
            android:label="@string/app_name_alarmwidget0"
            android:icon="@mipmap/ic_launcher_alarms">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.ALARM_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
                <action android:name="suntimeswidget.alarm.ui.update" />
            </intent-filter>

            <intent-filter>
                <action android:name="suntimeswidget.alarm.ui.update" />
                <data android:scheme="content" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_alarms0_2x2" />
        </receiver>

        <activity
            android:name=".widgets.AlarmWidget0ConfigActivity_2x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".widgets.AlarmWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:enabled="@bool/api_post_14" />    <!-- AlarmWidget Service: Collections widget [requires api 14+] -->

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Alarms (3x2)                                                        -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".widgets.AlarmWidget0_3x2"
            android:label="@string/app_name_alarmwidget0"
            android:icon="@mipmap/ic_launcher_alarms">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.ALARM_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
                <action android:name="suntimeswidget.alarm.ui.update" />
            </intent-filter>

            <intent-filter>
                <action android:name="suntimeswidget.alarm.ui.update" />
                <data android:scheme="content" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_alarms0_3x2" />
        </receiver>

        <activity
            android:name=".widgets.AlarmWidget0ConfigActivity_3x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Clock (1x1)                                                               -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".ClockWidget0"
            android:label="@string/app_name_clockwidget0"
            android:icon="@mipmap/ic_launcher_alarms">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.CLOCK_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock0_1x1" />
        </receiver>

        <activity
            android:name=".ClockWidget0ConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Clock (3x1)                                                               -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".ClockWidget0_3x1"
            android:label="@string/app_name_clockwidget0"
            android:icon="@mipmap/ic_launcher_alarms">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.CLOCK_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_clock0_3x1" />
        </receiver>

        <activity
            android:name=".ClockWidget0ConfigActivity_3x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Widget: Date (1x1)                                                               -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <receiver android:name=".widgets.DateWidget0"
            android:label="@string/app_name_datewidget0"
            android:icon="@drawable/ic_calendar">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="suntimes.DATE_WIDGET_UPDATE" />
                <action android:name="suntimes.SUNTIMES_THEME_UPDATE" />
                <action android:name="suntimes.SUNTIMES_ALARM_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_date0_1x1" />
        </receiver>

        <activity
            android:name=".widgets.DateWidget0ConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- https://developer.android.com/training/testing/instrumented-tests/androidx-test-libraries/test-setup#deprecated-classes -->
        <uses-library android:name="android.test.runner" android:required="false" />

    </application>

</manifest>
